.friends {
  width: 350px;
  margin-top: 10px;

  box-shadow: 1px 1px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  padding-top: 0;
  margin-top: 0;
  background-color: #fff;
}

.title {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.friendsList {
  width: 330px;
  margin-top: 0;
}
