.transactionHistory {
  table-layout: fixed;
  width: 400px;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #ecf1f4;
}
th,
td {
  text-align: center;
  padding: 5px;
}

thead {
  background-color: #6795f1;
  color: #ffffff;
}

tr:nth-child(2n) {
  background-color: #ecf1f4;
}
